[submodule "igor_template_sample"]
	path = igor_template_sample
	url = https://github.com/stack-spot/igor_template_sample.git
[submodule "igor_template_app_sample"]
	path = igor_template_app_sample
	url = https://github.com/stack-spot/igor_template_app_sample
[submodule "igor_template_env_sample"]
	path = igor_template_env_sample
	url = https://github.com/stack-spot/igor_template_env_sample
[submodule "igor_plugin_sample"]
	path = igor_plugin_sample
	url = https://github.com/stack-spot/igor_plugin_sample
[submodule "igor_plugin_app_sample"]
	path = igor_plugin_app_sample
	url = https://github.com/stack-spot/igor_plugin_app_sample
[submodule "igor_plugin_env_sample"]
	path = igor_plugin_env_sample
	url = https://github.com/stack-spot/igor_plugin_env_sample
